@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  body {
    @apply bg-gray-100;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-3xl;
  }
}

@layer components {
  /* GLOBAL */
  .button {
    @apply focus:ring-2 focus:ring-offset-2 focus:ring-gray-200 rounded-[10000px] px-6 py-3 shadow-md;
  }

  .jumbo-text {
    @apply text-7xl  font-extrabold;
  }

  .hero-slanted-container {
    clip-path: polygon(0% 0%, 44% 0, 54% 50%, 44% 100%, 0% 100%);
  }

  .w-inherit {
    width: inherit;
    background: #000;
  }

  .xs-right-preview-tab {
    @apply flex bg-gray-800 rounded-xl justify-center items-center text-center text-white text-sm font-semibold w-full py-[0.9rem];
  }

  .normal-right-preview-tab {
    @apply flex bg-gray-800 rounded-xl justify-center items-center text-center text-white text-sm font-semibold w-full py-[1.33rem];
  }

  iframe {
    -moz-transform: scale(0.78, 0.78);
    -webkit-transform: scale(0.78, 0.78);
    -o-transform: scale(0.78, 0.78);
    -ms-transform: scale(0.78, 0.78);
    transform: scale(0.78, 0.78);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
